.feedback-slider {
  height: 100%;
  margin-top: 50px;
}

#dark .feedback-slider {
  color: white;
}



.feedbck-slide{
    margin-top: 30px;
}

.content-slider {
  padding: 10px;
  color: white;
  background: #100c22;
  margin: 10px;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
}

#dark .content-slider {
  background: #100c22;
  color: white;
}

.content-slider:hover {
  background-color: #7b7cf1;
  transition-duration: 1s;
  cursor: pointer;
}

.content-slider img.center-image {
  height: 80px;
  width: 80px;
  border-radius: 90px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  margin-top: -30px;
  justify-content: center;
  align-items: center;
  border: 5px solid #7b7cf1;
}

.slick-prev:before{
    font-size: 30px;
    color: #ff854c!important;
}
.slick-next:before{
    font-size: 30px;
    color: #ff854c!important;
}

.slick-disable{
    /* opacity: 0; */
    pointer-events: none;
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #7b7cf1;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2); /* Track background color (optional) */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #7b7cf1 rgba(0, 0, 0, 0.2);
}

.section-title h5 {
  text-align: center;
  color: white;
  font-family: "Jost Bold", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

#dark .section-title h5 {
  text-align: center;
  color: white;
  font-family: "Jost Bold", sans-serif;
  font-weight: bold;
}

.line {
  display: block;
  width: 70px;
  height: 3px;
  margin: 5px auto;
  background-color: #7b7cf1;
}
