.mobile-view-header {
  width: 100vw;
  background: #100c22;
  color: white;
  justify-content: space-between;
  display: flex;
  list-style-type: none;

}



.responsivenav-for-frontclient {
  position: fixed;
  align-items: center;
  top: 0;
  z-index: 1;
  width: 100%;
}

.responsivenav-for-frontclient p svg {
  margin-left: 10px;
  cursor: pointer;
  margin-top: 20px;
  color: white;
  margin-right: 10px;
}
.mobile-nav {
  height: auto;
  width: 100vw;
  background: #100c22;
  margin-top: 10px;
  padding-bottom: 20px;

}

.mobile-nav ul li {
  color: white;
  list-style-type: none;
  cursor: pointer;
  margin-top: 30px;
  text-decoration: none;

}

.nav-item-mobile .active{
  /* border-left: 2px solid yellow; */
  color: white;
  text-decoration: none;
  background-color: #7b7cf1;
  border-radius: 90px;
  padding: 5px;
  width: 100%;
}

@media (min-width: 900px) {
  .responsivenav-for-frontclient {
    display: none;
  }
}
@media (max-width: 800px) {
  .mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
