.sidebar-section{
    display: flex;
    /* background-color:  #cd5c5cda; */
    background-color: #100c22;
}




.sidebar{
    height: 100vh;
    position: fixed;
    background-color: #100c22;
    width: 70px;
    transition: width 0.3s ease;
    z-index: 1000;
}

.sidebar:hover {
    width: 250px;
}

@media (max-width: 1000px) {
    .sidebar{
      display: none;
    }
}



.container-fluid{
    padding-left: 0px!important;
    padding-right: 0px!important;
    overflow: hidden;
  }