.contact-section {
  height: 1000px;
  position: relative;
}

#dark .contact-section {
  color: white;
  background-color: #100c22;
}

.image-class img {
  height: 650px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.contact-form-design {
  padding: 30px;
  width: 100%;
}

.contact-form input {
  height: 50px;
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 100%;
}

#dark .contact-form input {
  height: 50px;
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: white;

  width: 100%;
  background-color: #100c22;
}

#dark .contact-form-design {
  background-color: #100c22;

}

.contact-form textarea {
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 100%;
}

#dark .contact-form textarea {
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #100c22;
  color: white;

}

.custom-select {
  height: 50px;
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 100%;
}

#dark .custom-select {
  height: 50px;
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 100%;
  color: white;
  background-color: #100c22;
}

.button-submit p {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #7b7cf1;
  color: white;
  padding: 10px;
  width: 50%;
  margin-top: 40px;
  cursor: pointer;
}

.button-submit p:hover {
  background-color: rgba(123, 124, 241, 0.7);
  color: white;
  transition-duration: 2s;
}

@media (max-width: 1000px) {
  .image-class img {
    display: none;
  }
}
